header {
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: black 8px solid;
    padding: 20px;
}

.hour {
    padding: 20px;
    text-align: center;
    background-color: lightblue;
    font-size: larger;
    font-weight: 600;
    border-radius: 25px;
    border: black 1px solid;
}

.saveBtn {
    text-align: center;
    background-color: lightblue;
    color: black;
    font-size: larger;
    font-weight: 600;
    border-radius: 25px;
    border: black 1px solid;
    padding: 10px;
}

.clearBtn {
    text-align: center;
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 25px;
    border: black 1px solid;
    padding: 10px;
    margin-top: 10px;
}

.col-md-9 {
    background-color: lightblue;
    border-radius: 25px;
    border: black 1px solid;
    padding: 10px;
}

.container {
    margin-bottom: 50px;
}

.past-time {
    background-color: lightgrey;
    color: white;
}

.current-time {
    background-color: lightgreen;
}

.hide-btn {
    display: none;
}